{% extends 'base.html' %}
{% load static %}
{% block title %}
    My Tasks
{% endblock title %}

{% block content %}
        <main>
            <div class="my-tasks-list">
                <h1>My Tasks</h1>
                <p>
                    <a href="{% url 'create_task' %}">Create a New Task</a>
                </p>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                        <th>Edit Task</th>
                    </thead>
                    <tbody>
                        {% for task in tasks.all %}
                            <tr>
                                <td><a href="{% url 'task_notes' task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.start_date|date:"n/j/y" }}</td>
                                <td>{{ task.due_date|date:"n/j/y" }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                                <td><a href="{% url 'edit_tasks' task.id %}">Edit</a></td>
                            </tr>
                        {% empty %}
                            <p>You have no tasks</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
{% endblock content %}
