{% extends 'base.html' %}
{% load static %}
{% block title %}
    Project Details
{% endblock title %}

{% block content %}
        <main>
            <div class="project-detail">
                <h1>{{ details.name }}</h1>
                <p>{{ details.description }}</p>
                <h2>Tasks</h2>
                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                        <th>Add notes</th>
                    </thead>
                    <tbody>
                        {% for detail in details.tasks.all %}
                            <tr>
                                <td><a href="{% url 'edit_tasks' detail.id %}">{{ detail.name }}</a></td>
                                <td>{{ detail.assignee }}</td>
                                <td>{{ detail.start_date|date:"n/j/y" }}</td>
                                <td>{{ detail.due_date|date:"n/j/y" }}</td>
                                <td>{{ detail.is_completed|yesno }}</td>
                                <td><a href="{% url 'task_notes' detail.id %}">Task notes</a></td>
                            </tr>
                        {% empty %}
                            <p>This project has no tasks</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
{% endblock content %}
